<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app5.js"></script>
    <title>Document</title>
    <style>
        table{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td{
            border: 1px solid black;
            padding: 5px;
        }
        th{
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body style="font-family:Arial, Helvetica, sans-serif">
    <div ng-controller="myController1">
        Rows to display : <input type="number" step="1"
        ng-model="rowCount" max="5" min="0" />
<br /><br />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Salary (number filter)</th>
            <th>Salary (currency filter)</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employees | limitTo:rowCount">
        <td> {{ employee.name | uppercase }} </td>
        <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td>
        <td> {{ employee.gender }} </td>
        <td> {{ employee.salary | number:2 }} </td>
        <td> {{ employee.salary | currency : "$" : 1 }} </td>
        </tr>
    </tbody>
</table>
    </div>
</body>
</html>